@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kanit&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Varela+Round&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  line-height: 1.5;
  color: #0d2d3e;
  font-size: 0.875rem;
}

.App {
  margin: 0rem auto 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0rem;
  max-width: 1000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

header h1 a {
  text-decoration: none;
  color: #0d2d3e;
  font-weight: 900;
  font-size: 100%;
}

header button {
  visibility: hidden;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
}

header ul li {
  list-style: none;
  margin: 01rem;
}

header ul li a {
  text-decoration: none;
  color: #0d2d3e;
  font-weight: 800;
  font-size: 120%;
}

.home-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home-section .title-1 {
  color: #c53058;
  font-size: 14px;
  font-weight: 600;
}

.home-section h1,
.home-section h6,
.home-section p,
.home-section .input-control {
  width: 30%;
  margin-left: 20%;
}

.home-section h1 {
  margin-bottom: 1rem;
  width: 330px;
}

.home-section .title-2 {
  margin-top: 1rem;
  width: 200px;
}

.home-section img {
  width: 90vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  border-radius: 10px;
}

.home-section p {
  font-size: 12px;
  font-weight: 600;
  width: 200px;
  text-align: justify;
}

.home-section .input-control {
  margin-top: 1.5rem;
}

.home-section .input-control label {
  font-size: 12px;
  font-weight: 600;
}

.home-section .input-control .input-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.2rem 0 1rem 0;
  background-color: #ddd;
  border-radius: 3px;
  width: 200px;
}

.home-section .input-control .input-fields input {
  border: none;
  background-color: #ddd;
  padding: 0.5rem;
  font-size: 100%;
  border-radius: 3px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
}

.home-section .input-control .input-fields .btn {
  border: none;
  background-color: #c53058;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 100%;
  border-radius: 12px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.home-section .input-control .input-fields .btn:hover {
  background-color: #c53058cc;
}

.services-container {
  margin: 2.5rem;
  position: relative;
}

.services-container .service-contant {
  display: -ms-grid;
  display: grid;
  max-width: 1000px;
  margin: 1rem auto;
}

.services-container .service-contant h1 {
  width: 200px;
}

.services-container .service-contant .services-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  margin: 1rem;
}

.services-container .service-contant .services-items .services-item {
  padding: 1rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.services-container .service-contant .services-items .services-item:hover {
  -webkit-box-shadow: 0 5px 15px #0000001a;
          box-shadow: 0 5px 15px #0000001a;
  border-radius: 5px;
}

.services-container .service-contant .services-items .services-item i {
  padding: 1rem;
  background: #27ae60;
  border-radius: 16px;
  color: #fff;
}

.services-container .service-contant .services-items .services-item h1 {
  margin: 1rem 0;
  font-size: 120%;
  font-weight: 900;
}

.services-container .service-contant .services-items .services-item p {
  font-weight: 600;
}

.services-container .service-contant .services-items .services-item button {
  background: #e0e0e0;
  outline: none;
  border-radius: 12px;
  width: 116px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  height: 42px;
  margin: 1rem 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.services-container .service-contant .services-items .services-item button:hover {
  background-color: #c53058;
  color: #fff;
}

.services-container .service-contant .services-items .services-item:first-child i {
  padding: 1rem;
  background-color: #c53058;
  border-radius: 16px;
}

.services-container .service-contant .services-items .services-item:last-child i {
  background: #eb5757;
}

.ourworks-container {
  margin: 2.5rem;
  position: relative;
}

.ourworks-container .ourworks-contant {
  display: -ms-grid;
  display: grid;
  max-width: 1000px;
  margin: 1rem auto;
}

.ourworks-container .ourworks-contant h1 {
  width: 212px;
}

.ourworks-container .ourworks-contant .ourworks-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin: 1rem;
}

.ourworks-container .ourworks-contant .ourworks-cards .card {
  margin: 0rem 0.5rem;
}

.ourworks-container .ourworks-contant .ourworks-cards .card img {
  width: 100%;
  border-radius: 12px;
}

.ourworks-container .ourworks-contant .ourworks-cards .card:first-child,
.ourworks-container .ourworks-contant .ourworks-cards .card:nth-child(3) {
  margin-top: 120px;
}

.ourworks-container .ourworks-contant .see-more {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -35px;
}

.ourworks-container .ourworks-contant .see-more p {
  color: #c53058;
  cursor: pointer;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 1rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.ourworks-container .ourworks-contant .see-more p span {
  margin-left: 0.5rem;
}

.ourworks-container .ourworks-contant .see-more p:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.clients-container {
  margin: 2.5rem;
  position: relative;
}

.clients-container .clients-contant {
  display: -ms-grid;
  display: grid;
  max-width: 1000px;
  margin: 1rem auto;
}

.clients-container .clients-contant .clients-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.clients-container .clients-contant .clients-items .clients-items-item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vw;
}

.clients-container .clients-contant .clients-items .clients-items-item:first-child .item {
  margin-top: 2rem;
  width: 155px;
}

.clients-container .clients-contant .clients-items .clients-items-item:first-child .item span {
  font-size: 14px;
  font-weight: 900;
  color: #c53058;
}

.clients-container .clients-contant .clients-items .clients-items-item:first-child .item h1 {
  margin: 0.5rem 0;
}

.clients-container .clients-contant .clients-items .clients-items-item:first-child .item p {
  font-weight: 600;
}

.clients-container .clients-contant .clients-items .clients-items-item:last-child {
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-container .clients-contant .clients-items .clients-items-item:last-child .item {
  margin: 1rem 0 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients-container .clients-contant .clients-items .clients-items-item:last-child .item img {
  width: 100%;
  border-radius: 12px;
}

.clients-container .clients-contant .clients-profile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.clients-container .clients-contant .clients-profile p {
  max-width: 438px;
  width: 100%;
  text-align: start;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 1rem;
  font-weight: 900;
}

.clients-container .clients-contant .clients-profile .profile-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-container .clients-contant .clients-profile .profile-card img {
  width: 82px;
  height: 82px;
  border-radius: 12px;
}

.clients-container .clients-contant .clients-profile .profile-card .desc {
  margin: 0.5rem 1rem;
}

.clients-container .clients-contant .clients-profile .profile-card .desc h1 {
  font-size: 16px;
}

.clients-container .clients-contant .clients-profile .profile-card .desc p {
  font-weight: 500;
  font-size: 12px;
}

.contact-contaniner {
  background-color: #3f7893;
  position: relative;
  width: 100%;
  color: #fff;
}

.contact-contaniner .contact-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1000px;
  margin: 1rem auto;
  padding: 2rem 1rem;
}

.contact-contaniner .contact-contant .links li {
  list-style: none;
  margin: 0.2rem 0;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.contact-contaniner .contact-contant .links li:hover {
  color: #c53058;
}

.contact-contaniner .contact-contant .social-icons p span {
  margin: 0.2rem;
  font-size: 140%;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.contact-contaniner .contact-contant .social-icons p span:hover {
  color: #c53058;
}

.contact-contaniner .contact-contant .contact-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-contaniner .contact-contant .contact-field label {
  color: #c4d3dc;
  font-size: 90%;
}

.contact-contaniner .contact-contant .contact-field .email-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: 10px;
}

.contact-contaniner .contact-contant .contact-field .email-control input {
  border: none;
  padding-left: 0.5rem;
}

.contact-contaniner .contact-contant .contact-field .email-control button {
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  background: #c53058;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.contact-contaniner .contact-contant .contact-field .email-control button:hover {
  background: #c53058cc;
}

.contact-contaniner footer {
  text-align: center;
  padding-bottom: 0.5rem;
}

.contact-contaniner footer a {
  color: #c53058;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.contact-contaniner footer a:hover {
  color: #c53058cc;
}

@media screen and (max-width: 780px) {
  .App header {
    margin-left: 1rem;
  }
  .App header button {
    visibility: visible;
  }
  .App header ul {
    visibility: hidden;
  }
  .App .services-container {
    margin: 1.5rem;
  }
  .App .services-container .service-contant .services-items {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    margin: 1rem auto;
  }
  .App .ourworks-container {
    margin: 1.5rem;
  }
  .App .ourworks-container .ourworks-contant .ourworks-cards {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    margin: 1rem -1rem;
  }
  .App .ourworks-container .ourworks-contant .ourworks-cards .card {
    margin: 1rem auto;
  }
  .App .ourworks-container .ourworks-contant .ourworks-cards .card:first-child,
  .App .ourworks-container .ourworks-contant .ourworks-cards .card:nth-child(3) {
    margin-top: 0px;
  }
  .App .ourworks-container .ourworks-contant .see-more {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    margin-top: -1rem;
    margin-left: -0.5rem;
  }
}

@media screen and (max-width: 520px) {
  .App .services-container {
    margin: 1.5rem;
  }
  .App .services-container .service-contant .services-items {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    margin: 1rem auto;
  }
  .App .clients-container {
    margin: 0.5rem;
  }
  .App .clients-container .clients-contant .clients-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .App .clients-container .clients-contant .clients-items .clients-items-item:last-child {
    margin: 2rem 0 2rem -15px;
  }
  .App .clients-container .clients-contant .clients-profile p {
    width: 100% !important;
  }
  .App .contact-contaniner .contact-contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .App .contact-contaniner .contact-contant .social-icons {
    margin: 1rem 0;
  }
  .App .contact-contaniner .contact-contant .contact-field {
    width: 100%;
  }
  .App .contact-contaniner .contact-contant .contact-field .email-control {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .App .contact-contaniner .contact-contant .contact-field .email-control input {
    width: 100%;
  }
}

@media screen and (max-width: 448px) {
  .App .home-section .title-1 {
    font-size: 12px;
    margin-left: 1rem;
  }
  .App .home-section h1 {
    font-size: 24px;
    width: 260px;
    margin-left: 1rem;
  }
  .App .home-section p {
    font-size: 12px;
    margin-left: 1rem;
  }
  .App .home-section .title-2 {
    font-size: 24px;
    width: 11rem;
    margin-left: 1rem;
  }
  .App .home-section .input-control {
    width: 100%;
    margin-left: 1rem;
  }
  .App .home-section .input-control label {
    width: 100%;
  }
  .App .home-section .input-control {
    width: auto;
  }
}

@media screen and (max-width: 375px) {
  .App .home-section h1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .App .services-container {
    margin: 1rem;
  }
  .App .services-container .service-contant .services-items {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */