.home-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // width: 90vw;
  height: 100vh;

  & .title-1 {
    color: $main-1;
    font-size: 14px;
    font-weight: 600;
  }
  & h1,
  h6,
  p,
  .input-control {
    // margin-left: 20%;
    width: 30%;
    margin-left: 20%;
  }
  & h1 {
    margin-bottom: 1rem;
  }
  & .title-2 {
    margin-top: 1rem;
  }
  & img {
    width: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  & p {
    font-size: 18px;
    font-weight: 400;
    // line-height: 27px;
    text-align: justify;
  }
  & .input-control {
    margin-top: 1.5rem;

    & .input-fields {
      display: flex;
      margin: 0.2rem 0 1rem 0;
      background-color: #ddd;
      border-radius: 3px;
      width: 100%;
      & input {
        border: none;
        background-color: #ddd;
        padding: 0.5rem;
        font-size: 100%;
        border-radius: 3px;
        transition: $transition;
        width: 100%;
      }
      & .btn {
        border: none;
        background-color: $main-1;
        color: $bg-color;
        padding: 0.5rem 1rem;
        font-size: 100%;
        border-radius: 3px;
        transition: $transition;
      }
    }
  }
}
