@media screen and (max-width: 780px) {
  .App {
    & header {
      & button {
        visibility: visible;
        position: fixed;
        right: 1rem;
        outline: none;
        border: none;
        background-color: transparent;

        cursor: pointer;
        z-index: 3;
        transition: $transition;
        & span {
          font-size: 200%;
          font-weight: 900;
        }
        & .icon-menu {
          color: $font-color;
          padding: 0.5rem;
          background-color: hsla(0, 0%, 100%, 0.5);
          border-radius: 5px;
        }
        & .icon-close {
          padding: 0;
          color: #fff;
        }
      }
      & .links {
        display: none;
      }
      & .mobile-menu {
        z-index: 2;
        display: block;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $main-1;

        & .menu-links {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          margin-top: 30%;
          & li {
            list-style: none;
            margin: 1rem;
            transition: $transition;
            & a {
              color: #fff;
              text-decoration: none;
              font-size: 130%;
            }
            &:hover {
              transform: scale(1.5);
            }
          }
        }
      }
    }
    & .services-container {
      margin: 1.5rem;
      & .service-contant {
        & .services-items {
          grid-template-columns: auto auto;
          margin: 1rem auto;
        }
      }
    }
    & .ourworks-container {
      margin: 1.5rem;
      & .ourworks-contant {
        & .ourworks-cards {
          grid-template-columns: auto;
          margin: 1rem -1rem;

          & .card {
            margin: 1rem auto;
          }
          & .card:first-child,
          & .card:nth-child(3) {
            margin-top: 0px;
          }
        }
        & .see-more {
          width: fit-content;
          display: block;
          margin-top: -1rem;
          margin-left: -0.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: 520px) {
  .App {
    & .services-container {
      margin: 1.5rem;
      & .service-contant {
        & .services-items {
          grid-template-columns: auto;
          margin: 1rem auto;
        }
      }
    }
    & .clients-container {
      margin: 0.5rem;
      & .clients-contant {
        & .clients-items {
          flex-direction: column;
          margin: 0;

          & .clients-items-item:last-child {
            margin: 2rem 0 2rem -15px;
          }
        }
        & .clients-profile {
          & p {
            width: 100% !important;
          }
        }
      }
    }
    & .contact-contaniner {
      & .contact-contant {
        display: flex;
        flex-direction: column;
        & .social-icons {
          margin: 1rem 0;
        }
        & .contact-field {
          width: 100%;

          & .email-control {
            justify-content: space-between;
            & input {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 448px) {
  .App {
    & .home-section {
      & .title-1 {
        font-size: 12px;
        margin-left: 1rem;
      }
      & h1 {
        font-size: 24px;
        width: 260px;
        margin-left: 1rem;
      }
      & p {
        font-size: 12px;
        margin-left: 1rem;
      }
      & .title-2 {
        font-size: 24px;
        width: 11rem;
        margin-left: 1rem;
      }
      & .input-control {
        width: 100%;
        margin-left: 1rem;

        & label {
          width: 100%;
        }
      }

      & .input-control {
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .App {
    & .home-section {
      & h1 {
        width: fit-content;
      }
    }
    & .services-container {
      margin: 1rem;
      & .service-contant {
        & .services-items {
          grid-template-columns: auto;
          margin: auto;
        }
      }
    }
  }
}
