@media screen and (max-width: 780px) {
  .services-container .service-contant .service-items {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 500px) {
  .services-container {
    & .service-contant {
      & .service-items {
        grid-template-columns: auto;
        background-color: navy;
      }
    }
  }
}
@media screen and (max-width: 448px) {
  .App {
    & .home-section {
      & .title-1 {
        font-size: 12px;
        margin-left: 1rem;
      }
      & h1 {
        font-size: 24px;
        width: 260px;
        margin-left: 1rem;
      }
      & p {
        font-size: 12px;
        margin-left: 1rem;
      }
      & .title-2 {
        font-size: 24px;
        width: 11rem;
        margin-left: 1rem;
      }
      & .input-control {
        width: 100%;
        margin-left: 1rem;

        & label {
          width: 100%;
        }
      }

      & .input-control {
        width: auto;
      }
    }
    & .services-container {
      & .service-contant {
        & .service-items {
          grid-template-columns: auto;
        }
      }
    }
  }
}
